[submodule "micropython"]
	path = micropython
	url = https://github.com/Carglglz/micropython.git
	branch = lvgl
[submodule "user_modules/lv_binding_micropython"]
	path = user_modules/lv_binding_micropython
	url = https://github.com/Carglglz/lv_binding_micropython.git
	branch = fix-soft-reset
